url/
bookmarks
.org*
elpa/*archive*
tramp
*.elc
/tmp
/auto-save-list
# pylookup
packages/pylookup/*docs*
packages/pylookup/*.db
packages/pylookup/.buildinfo
/ac-comphist.dat
/eshell
elpa/auctex*
elpa/*-readme.txt
/xkcd
/elpa/monky-20130513.1413/monky.el
elpa/*-readme.txt
/.cask
session.*
/ido.last
recentf
/save-place
