[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = git://github.com/magit/magit.git
	branch = next
[submodule "site-lisp/packages/tern"]
	path = site-lisp/packages/tern
	url = https://github.com/ternjs/tern
[submodule "site-lisp/packages/org-reveal"]
	path = site-lisp/packages/org-reveal
	url = https://github.com/yjwen/org-reveal
