/magithub
/history
url/
bookmarks
.org*
elpa/*archive*
tramp
*.elc
/tmp
/auto-save-list
# pylookup
packages/pylookup/*docs*
packages/pylookup/*.db
packages/pylookup/.buildinfo
/ac-comphist.dat
/eshell
elpa/auctex*
elpa/*-readme.txt
/xkcd
/elpa/monky-20130513.1413/monky.el
elpa/*-readme.txt
/.cask
session.*
/ido.last
recentf
/save-place
/local.el
/places
/.mc-lists.el
/.python-environments
/abbrev_defs
/projectile-bookmarks.eld
/transient
/.lsp*
/forge-database.sqlite
/elpy
/elpa/vterm*/build
/network-security.data
/.dap-breakpoints
# used by lsp
/.extension
# compiled tree sitter language libs
elpa/tree-sitter-langs-*/bin/*
/straight
